<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK-CRUD_APP_ADD_NEW_EMPLOYEE_page.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'home.css')}}" type = "text/css">
</head>
<body>
      <div class="parent">
<!--        <div class="child child1">-->
<!--            <h1 class="text-center"><i>LOGO</i></h1>-->
<!--        </div>-->
<!--        <div class="child child2">-->
<!--            <ul class="nav justify-content-center">-->
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link"  style="color:rgb(0, 75, 93);"  href="#">Instagram</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link"  style="color:rgb(0, 75, 93);" href="#">Linkedin</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link"  style="color:rgb(0, 75, 93);" href="#">facebook</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link"  style="color:rgb(0, 75, 93);" href="#">whatsapp</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--        </div>-->
        <div class="child child3">
          <ul class="nav nav-tabs nav-fill" style="background-color:#150857">
              <li class="nav-item">
                <a class="nav-link" style="color:whitesmoke;" href="{{url_for('index')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:whitesmoke;" href="{{url_for('login')}}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:whitesmoke;" href="{{url_for('register')}}">Register</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" style="color:whitesmoke;" href="{{url_for('dashboard')}}">Dashboard</a>
                </li>
              <li class="nav-item">
                <a class="nav-link"   style="color:whitesmoke;" href="{{url_for('index')}}">Logout</a>
              </li>
            </ul>
      </div>

<!--        <div class="child child4">-->
<!--            <h3 class="m-2">Add New Employee Page</h3>-->
<!--        </div>-->

        <div class="child child5" style="color::#150857; ">
            {% if user %}
            <h3 class="m-2"><i>User : {{user[1]}} </i></h3>
            {% endif %}
        </div>


        <div class="child child6left">
            <div class="circledivleft">
                <div class="circleleft">
                </div>
              </div>
        </div>

        <div class="child child6 container" style="color:#150857; ">
            <ul class="nav nav-tabs nav-fill" style=" background-color:#150857">
                <li class="nav-item">
                  <a class="nav-link" style=" background-color:#150857; color:whitesmoke;"  href="{{url_for('dashboard')}}">View All Employee</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" style=" background-color:#150857;  color:whitesmoke;" href="{{url_for('addnewemployee')}}">Add New Employee</a>
                </li>
              </ul>

              <div class="table-responsive-lg caption-top">
                  <caption><h3 style="font-size:30px;"><b>ADD NEW EMPLOYEES</b></h3></caption>
                <hr>
                <form class="p-3" action="/addnewemployee" method="POST">
                    <div class="mb-2">
                      <label for="emp_id" class="form-label" style="font-size:25px;">Employee ID</label>
                      <input type="text" class="form-control" id="emp_id" name="emp_id">
                    </div>
                    <div class="mb-2">
                      <label for="emp_name" class="form-label" style="font-size:25px;">Employee Name</label>
                      <input type="text" class="form-control" id="emp_name" name="emp_name">
                    </div>
                    <div class="mb-2">
                      <label for="emp_email" class="form-label" style="font-size:25px;">Employee Email</label>
                      <input type="email" class="form-control" id="emp_email" name="emp_email">
                    </div>
                    <div class="mb-2">
                        <label for="bu" class="form-label" style="font-size:25px;">BU</label>
                        <input type="text" class="form-control" id="bu" name="bu">
                      </div>
                      <div class="mb-2">
                        <label for="du" class="form-label" style="font-size:25px;">DU</label>
                        <input type="text" class="form-control" id="du" name="du">
                      </div>

                    <div class="mb-2">
                        <label for="manager_name" class="form-label" style="font-size:25px;">Manager</label>
                        <input type="text" class="form-control" id="manager_name" name="manager_name">
                      </div>
                    <div class="mb-2">
                        <label for="project" class="form-label" style="font-size:25px;">Project</label>
                        <input type="text" class="form-control" id="project" name="project">
                      </div>
                      <div class="mb-2">
                        <label for="location" class="form-label" style="font-size:25px;">Location</label>
                        <input type="text" class="form-control" id="location" name="location">
                      </div>
                    <button type="submit"  class="btn text-light m-3" style="background-color:#150857; font-size:22px;">Add Employee</button>
                  </form>
              </div>
        </div>

        <div class="child child6right">
            <div class="circledivright">
                <div class="circleright">
                </div>
            </div>
        </div>
 
<!--        <div class="child child7 fixed-bottom" style="background-color:rgb(0, 75, 93); color:whitesmoke;">-->
<!--            <p class="p-3 text-center">copyright &copy; Developed and Designed by Gurupreeth Singh , Email :- igurupreeth@gmail.com</p>-->
<!--        </div>-->
      </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>